body{
font-family: "Crimson Text","Times New Roman", serif;    
background-color: #dec9f7;
font-size: 120%;

}
h1,h2{ 
font-family: :"Open Sans Condensed","Arial", sans-serif;
}

h1{
    text-align: center;
    background-color: blueviolet;
    color: #FFF;
    }
    P{
        text-align: justify;
    }
aside {
    color:#f2fffc;
    text-align:center;
    background-color: #3c1d3d;
       
}